{{ template "header" .Services }}


<style>
.filestitle {
	font-weight: bold;
	font-size: 1.1em;
	text-align: center;
	display: block;
}

.payload {
	white-space: pre-wrap;
	word-wrap: break-word;
}

.packet {
	color: var(--color-2);
	background-color: var(--color-4);
	padding: 0.5em 1em;
	margin-bottom: 0.5em;
	word-break: break-all;
	box-shadow: -3px 3px 0px 0 #333;
}

.incomingf{
	margin-left: 4em;
	margin-right: 0em;
}

.outgoingf{
	margin-left: 0em;
	margin-right: 4em;
}

.outgoingf span{
	color: var(--color-5);
}

.incomingf span{
	color: var(--color-6);
}

.content {
	max-width: 60em;
	margin: auto;
}

</style>


<div class="content">

<div class="packet" style="width:40%; margin: auto"%>
<center>
<label for="chkHex"><input type="checkbox" id="chkHex" onclick="togglehex()"/>show hex</label>
| <a href="/download/{{.Filepath}}"> Download this pcap </a>
</center>
</div>
<br/>

{{ range $p := .Packets}}
	<div class="packet {{if $p.Outgoing}}outgoingf{{else}}incomingf{{end}}">
		<center>[{{ $p.Direction }}]</center>
		<span class="payload">{{ $p.Payload_str }}</span>
		<span class="hex" style="display:none">{{ $p.Payload_hex }}</span>
	</div>
{{ end }}


</div>

<script>
function togglehex() {
	document.querySelectorAll('.hex').forEach(a=>a.style.display = a.style.display != 'none' ? 'none' : 'inline');
}

if (document.querySelector('input').checked === true) togglehex();
</script>

