{{ template "header" .Services }}


<style>
.files {
	color: var(--color-2);
	background-color: var(--color-4);
	padding: 0.5em 1em;
}

.filestitle {
	font-weight: bold;
	font-size: 1.1em;
	text-align: center;
	display: block;
}

.file {
	margin-bottom: 1em;
	display: block;
	width: 20em;
	text-overflow: clip;
	word-break: break-all;
	width: 100%;
}

.payload {
	white-space: pre;
}

.outgoing{
	color: var(--color-5);
}

.incoming{
	color: var(--color-6);
}

</style>

<div class="files">

<center>
<label for="chkHex"><input type="checkbox" id="chkHex" onclick="togglehex()"/>show hex</label>
</center>
<br/>

{{ range $p := .Packets}}
&gt; [{{ $p.Direction }}]{{ if $p.Outgoing }} outgoing {{ else }} incoming {{end}} <br/>
<span class="file {{if $p.Outgoing}}outgoing{{else}}incoming{{end}}">
<span class="payload">{{ $p.Payload_str }}</span>
<span class="hex" style="display:none">{{ $p.Payload_hex }}</span>
</span> 
{{ end }}

</div>

<script>
function togglehex() {
	document.querySelectorAll('.hex').forEach(a=>a.style.display = a.style.display != 'none' ? 'none' : 'inline');
}

if (document.querySelector('input').checked === true) togglehex();
</script>

