{{ template "header" .Services }}


<style>
.files {
	color: var(--color-2);
	background-color: var(--color-4);
	padding: 0.5em 1em;
}

.filestitle {
	font-weight: bold;
	font-size: 1.1em;
	text-align: center;
	display: block;
}

.file {
	margin-bottom: 0.5em;
	display: block;
	width: 20em;
	text-overflow: clip;
}

.outgoing{
	color: var(--color-5);
}

.incoming{
	color: var(--color-6);
}

</style>

<div class="files">

{{ range $p := .Packets}}
	&gt;[{{ $p.Direction }}]{{ if $p.Outgoing }} outgoing {{ else }} incoming {{end}} <br/>
	<span class="file {{if $p.Outgoing}}outgoing{{else}}incoming{{end}}">
		{{ $p.Payload_str }} <br/>
		{{ $p.Payload_hex }}
	</span> 
{{ end }}

</div>

